.B1 {
  background-color: white;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}
.B2 {
  background-color: white;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}
.B3 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}