############################
# @author EliasDH Team     #
# @see https://eliasdh.com #
# @since 01/01/2025        #
############################
# Ignore default
.vscode
App/Frontend/package-lock.json
App/Frontend/node_modules
App/Frontend/.angular
App/Frontend/dist