<!--Author EliasDH Team-->
<body class="global-body">
    <header>
        <section class="privacypolicy-title">
            <h2 class="privacypolicy-title-text">{{'PRIVACYPOLICY.TRANSLATE1' | translate}}</h2>
        </section>
    </header>
    <main>
        <article class="privacypolicy-article">
            <h2>{{'PRIVACYPOLICY.TRANSLATE3' | translate}}</h2>
            <section>
                <h3>{{'PRIVACYPOLICY.TRANSLATE4' | translate}}</h3>
                <p>
                    {{'PRIVACYPOLICY.TRANSLATE5-1' | translate}}
                    <a class="cursor-pointer" href='mailto:elias.dehondt&#64;outlook.com?SUBJECT=Query%20privacy%20policy&BODY=Dear%20EliasDH%20Team'>elias.dehondt&#64;outlook.com</a>
                    {{'PRIVACYPOLICY.TRANSLATE5-2' | translate}}
                </p>
                <p>{{'PRIVACYPOLICY.TRANSLATE6' | translate}}</p>
            </section>
            <section>
                <h3>{{'PRIVACYPOLICY.TRANSLATE7' | translate}}</h3>
                <p>{{'PRIVACYPOLICY.TRANSLATE8' | translate}}</p>
                <ul>
                    <li>{{'PRIVACYPOLICY.TRANSLATE9' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE10' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE11' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE12' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE13' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE14' | translate}}</li>
                </ul>
            </section>
            <section>
                <h3>{{'PRIVACYPOLICY.TRANSLATE15' | translate}}</h3>
                <p>{{'PRIVACYPOLICY.TRANSLATE16' | translate}}</p>
                <ol>
                    <li>{{'PRIVACYPOLICY.TRANSLATE17' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE18' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE19' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE20' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE21' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE22' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE23' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE24' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE25' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE26' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE27' | translate}}</li>
                </ol>
            </section>
            <section>
                <h3>{{'PRIVACYPOLICY.TRANSLATE28' | translate}}</h3>
                <p>{{'PRIVACYPOLICY.TRANSLATE29' | translate}}</p>
                <p>{{'PRIVACYPOLICY.TRANSLATE30' | translate}}</p>
                <p>{{'PRIVACYPOLICY.TRANSLATE31' | translate}}</p>
            </section>
            <section>
                <h3>{{'PRIVACYPOLICY.TRANSLATE32' | translate}}</h3>
                <p>{{'PRIVACYPOLICY.TRANSLATE33' | translate}}</p>
                <p>{{'PRIVACYPOLICY.TRANSLATE34' | translate}}</p>
                <p>{{'PRIVACYPOLICY.TRANSLATE35' | translate}}</p>
            </section>
            <section>
                <h3>{{'PRIVACYPOLICY.TRANSLATE36' | translate}}</h3>
                <p>{{'PRIVACYPOLICY.TRANSLATE37' | translate}}</p>
                <p>{{'PRIVACYPOLICY.TRANSLATE38' | translate}}</p>
                <p>{{'PRIVACYPOLICY.TRANSLATE39' | translate}}</p>
                <ul>
                    <li>{{'PRIVACYPOLICY.TRANSLATE40' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE41' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE42' | translate}}</li>
                    <li>{{'PRIVACYPOLICY.TRANSLATE43' | translate}}</li>
                </ul>
                <p>
                    {{'PRIVACYPOLICY.TRANSLATE44-1' | translate}}
                    <a href='http://optout.aboutads.info' target='_blank'>optout.aboutads.info</a>
                    {{'PRIVACYPOLICY.TRANSLATE44-2' | translate}}
                    <a href='http://www.youronlinechoices.com' target='_blank'>youronlinechoices.com</a>.
                    {{'PRIVACYPOLICY.TRANSLATE44-3' | translate}}
                    <a href='http://www.allaboutcookies.org' target='_blank' rel='noopener noreferrer'>allaboutcookies.org</a>.
                </p>
            </section>
            <section>
                <h3>{{'PRIVACYPOLICY.TRANSLATE45' | translate}}</h3>
                <p>{{'PRIVACYPOLICY.TRANSLATE46' | translate}}</p>
            </section>
        </article>
    </main>
    <app-footer></app-footer>
    <app-contextmenu></app-contextmenu>
</body>