<!--Author EliasDH Team-->
<body class="global-body domainrented-body">
    <app-contact-bar></app-contact-bar>
    <app-page-header titleKey="DOMAINRENTED.TRANSLATE1" backLabelKey="BLOG.TRANSLATE2" backRoute="/"></app-page-header>
    <main class="domainrented-main">
        <article class="domainrented-article">
            <section>
                <p>{{'DOMAINRENTED.TRANSLATE2' | translate}}</p>
                <p>
                    {{'DOMAINRENTED.TRANSLATE3' | translate}}
                    <a href='mailto:info&#64;eliasdh.com?SUBJECT=Query%20domain&BODY=Dear%20EliasDH%20Team'>info&#64;eliasdh.com</a>.
                </p>
            </section>
        </article>
    </main>
    <app-exit-intent></app-exit-intent>
    <app-footer></app-footer>
    <app-contextmenu></app-contextmenu>
</body>