<!--Author EliasDH Team-->
<body class="global-body domainrented-body">
    <main class="domainrented-main">
        <article class="domainrented-article">
            <h2>{{'DOMAINRENTED.TRANSLATE1' | translate}}</h2>
            <section>
                <p>{{'DOMAINRENTED.TRANSLATE2' | translate}}</p>
                <p>
                    {{'DOMAINRENTED.TRANSLATE3' | translate}}
                    <a href='mailto:info&#64;eliasdh.com?SUBJECT=Query%20domain&BODY=Dear%20EliasDH%20Team'>info&#64;eliasdh.com</a>.
                </p>
            </section>
        </article>
    </main>
    <app-footer></app-footer>
    <app-contextmenu></app-contextmenu>
    <app-chat></app-chat>
</body>