/**
    * @author EliasDH Team
    * @see https://eliasdh.com
    * @since 01/01/2025
**/

/* Fuck You */
.fuckyou-main { grid-area: main; }
.footer { grid-area: footer; }

.fuckyou-body {
    display: grid;
    grid-template-areas:
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    margin: 0;
}

.fuckyou-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

/* Fuck You */