<!--Author EliasDH Team-->
<body class="global-body">
    <header>
        <section class="legalguidelines-title">
            <h2 class="legalguidelines-title-text">{{'LEGALGUIDELINES.TRANSLATE1' | translate}}</h2>
        </section>
    </header>
    <main>
        <article class="legalguidelines-article">
            <h2>{{'LEGALGUIDELINES.TRANSLATE3' | translate}}</h2>
            <section>
                <h3>{{'LEGALGUIDELINES.TRANSLATE4' | translate}}</h3>
                <ul>
                    <li>{{'LEGALGUIDELINES.TRANSLATE5' | translate}}</li>
                    <li>{{'LEGALGUIDELINES.TRANSLATE6' | translate}}</li>
                    <li>{{'LEGALGUIDELINES.TRANSLATE7' | translate}}</li>
                </ul>
            </section>
            <section>
                <h3>{{'LEGALGUIDELINES.TRANSLATE8' | translate}}</h3>
                <ul>
                    <li>{{'LEGALGUIDELINES.TRANSLATE9' | translate}}</li>
                    <li>{{'LEGALGUIDELINES.TRANSLATE10' | translate}}</li>
                </ul>
            </section>
            <section>
                <h3>{{'LEGALGUIDELINES.TRANSLATE11' | translate}}</h3>
                <ul>
                    <li>{{'LEGALGUIDELINES.TRANSLATE12' | translate}}</li>
                    <li>{{'LEGALGUIDELINES.TRANSLATE13' | translate}}</li>
                </ul>
            </section>
            <section>
                <h3>{{'LEGALGUIDELINES.TRANSLATE14' | translate}}</h3>
                <ul>
                    <li>{{'LEGALGUIDELINES.TRANSLATE15' | translate}}</li>
                    <li>{{'LEGALGUIDELINES.TRANSLATE16' | translate}}</li>
                    <li>{{'LEGALGUIDELINES.TRANSLATE17' | translate}}</li>
                </ul>
            </section>
            <section>
                <h3>{{'LEGALGUIDELINES.TRANSLATE18' | translate}}</h3>
                <ul>
                    <li>{{'LEGALGUIDELINES.TRANSLATE19' | translate}}</li>
                </ul>
            </section>
            <section>
                <h3>{{'LEGALGUIDELINES.TRANSLATE20' | translate}}</h3>
                <ul>
                    <li>{{'LEGALGUIDELINES.TRANSLATE21' | translate}}</li>
                    <li>{{'LEGALGUIDELINES.TRANSLATE22' | translate}}</li>
                </ul>
            </section>
            <section>
                <h3>{{'LEGALGUIDELINES.TRANSLATE23' | translate}}</h3>
                <ul>
                    <li>{{'LEGALGUIDELINES.TRANSLATE24' | translate}}<a href='mailto:elias.dehondt&#64;outlook.com?SUBJECT=Query%20legal%20guidelines&BODY=Dear%20EliasDH%20Team'>elias.dehondt&#64;outlook.com</a>.</li>
                </ul>
            </section>
            <section>
                <h3>{{'LEGALGUIDELINES.TRANSLATE25' | translate}}</h3>
                <ul>
                    <li>{{'LEGALGUIDELINES.TRANSLATE26' | translate}}</li>
                    <li>{{'LEGALGUIDELINES.TRANSLATE27' | translate}}</li>
                </ul>
            </section>
            <section>
                <h3>{{'LEGALGUIDELINES.TRANSLATE28' | translate}}</h3>
                <ul>
                    <li>{{'LEGALGUIDELINES.TRANSLATE29' | translate}}</li>
                    <li>{{'LEGALGUIDELINES.TRANSLATE30' | translate}}</li>
                </ul>
            </section>
            <section>
                <h3>{{'LEGALGUIDELINES.TRANSLATE31' | translate}}</h3>
                <ul>
                    <li>{{'LEGALGUIDELINES.TRANSLATE32' | translate}}</li>
                    <li>{{'LEGALGUIDELINES.TRANSLATE33' | translate}}</li>
                </ul>
            </section>
            <section>
                <h3>{{'LEGALGUIDELINES.TRANSLATE34' | translate}}</h3>
                <ul>
                    <li>{{'LEGALGUIDELINES.TRANSLATE35' | translate}}</li>
                    <li>{{'LEGALGUIDELINES.TRANSLATE36' | translate}}</li>
                </ul>
            </section>
        </article>
    </main>
    <app-footer></app-footer>
    <app-contextmenu></app-contextmenu>
    <app-chatbot></app-chatbot>
</body>