/**
    * @author EliasDH Team
    * @see https://eliasdh.com
    * @since 01/01/2025
**/

/* Legal Guidelines */
.legalguidelines-article {
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.legalguidelines-article h3 {
    color: var(--primary);
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}

.legalguidelines-article ul {
    list-style: none;
    padding: 0;
}

.legalguidelines-article ul li {
    color: var(--secondary);
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}

.legalguidelines-article a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}

.legalguidelines-article a:hover {
    color: var(--secondary);
    text-decoration: none;
}
/* Legal Guidelines */

