/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 * @since 01/01/2020
 */
/* 403 Page Access Denied */
@import url('https://fonts.googleapis.com/css?family=Vollkorn:700');

html {
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  background: linear-gradient(45deg, #4f94f0 0%, #ffffff 100%);
}

h1 {
  font-size: 6em;
  margin:0;
}

h2 {
  font-size: 2em;
  margin-top:0;
}

#policeman{
  width:350px;
  display:block;
  overflow:visible;
  position:absolute;
}

@media only screen and (max-width : 720px){
  #policeman{
    max-height:50%;
  }
}
/* 403 Page Access Denied */