/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 * @since 01/01/2020
 */

/* Root */
:root[data-theme="dark"] {
    --text: #edeff2;
    --background: #060709;
    --primary: #0f54ae;
    --secondary: #818a92;
    --accent: #3d587b;
}

:root[data-theme="light"] {
    --text: #0c0e11;
    --background: #f6f7f9;
    --primary: #4f94f0;
    --secondary: #6c757d;
    --accent: #829ec2;
}

:root {
    --facebook-color: #1877f2;
    --x-color: #45494d;
    --instagram-color: #c13584;
    --github-color: #333333;
    --gitlab-color: #fc6d26;
    --linkedin-color: #0077b5;
    --youtube-color: #ff0000;
    --whatsapp-color: #25d366;
    --telegram-color: #0088cc;
    --discord-color: #7289da;
    --twitch-color: #6441a5;
}
/* Root */

/* Global */
* {
    font-family: 'Roboto', Arial;
    cursor: url('https://eliasdh.com/assets/media/images/cursor.png'), auto;
}
/* Global */

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: var(--secondary);
}
/* Scrollbar */

/* Selectioncoler */
::selection {
    background-color: var(--secondary);
    color: var(--background);
}
/* Selectioncoler */