/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 * @since 01/01/2020
 */

/***************** Desktop/Mobile ****************/
/* Root */
:root {
    --primary-color: #4f94f0;
    --secondary-color: #6c757d;
    --third-color: #f8f9fa;
    --white-color: #ffffff;
}
/* Root */

/* Global */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
/* Global */

/* Scrollbars Disabling */
::-webkit-scrollbar {
    display: none;
}
/* Scrollbars Disabling */

/* Selectioncoler */
::selection {
    background-color: var(--secondary-color);
    color: var(--third-color);
}
/* Selectioncoler */
/***************** Desktop/Mobile ****************/

/******************** Desktop ********************/
/* Title */
.home-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title-back {
    color: var(--white-color);
    font-size: 144px;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--secondary-color)
}

.home-title-front {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 900;
    position: absolute;
    text-transform: uppercase;
}
/* Title */

/* Header */
.home-header-container {
    background-color: var(--primary-color);
    color: var(--third-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.home-header-container .home-header-logo {
    margin-left: 100%;
    width: 456px;
    height: 456px;
}

.home-header-container .home-header-title {
    font-size: 24px;
}

.home-header-container .home-header-company-name {
    color: var(--primary-color);
    font-size: 96px;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #ffffff;
    margin-top: 0px;
}

.home-header-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    fill: var(--white-color);
    animation: bounce 1.5s infinite;
}

.home-header-arrow svg {
    display: block;
    margin: auto;
}
/* Header */


/* Services */
.home-services-container {
    background-color: var(--white-color);
    color: var(--secondary-color);
    margin-top: 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Services */

/* Carousel */
.carousel-container {
    background-color: var(--third-color);
    color: var(--secondary-color);

    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.carousel-item {
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    padding: 20px;
    margin-right: 10px;
    flex: 0 0 30%;
}

.carousel-item.active {
    display: block;
}

.carousel-item.inactive {
    display: none;
}
/* Carousel */
/******************** Desktop ********************/

/******************** Mobile *********************/
/* Header */
@keyframes bounce {
    0%, 100% {transform: translateY(0)}
    50% {transform: translateY(-10px)}
}

@media (max-width: 768px) { /* Set logo to top left and title centered */
    .home-header-container {
        flex-direction: column;
        justify-content: center;
    }

    .home-header-container .home-header-logo {
        margin: 0;
        width: 300px;
        height: 300px;
    }

    .home-header-container .home-header-title {
        margin: 10px;
    }
}
/* Header */
/******************** Mobile *********************/