/**
 * @author Elias De Hondt
 * @see https://eliasdh.com
 * @since 01/01/2020
 */

/***************** Desktop/Mobile ****************/
/* Root */
:root {
    /* Template Colors */
    --primary-color: #4f94f0;
    --secondary-color: #6c757d;
    --third-color: #f8f9fa;
    --white-color: #ffffff;
    --darkmode-color: #1C2128;
    /* Template Colors */

    /* Social Media Colors */
    --facebook-color: #1877f2;
    --x-color: #45494d;
    --instagram-color: #c13584;
    --github-color: #333333;
    --gitlab-color: #fc6d26;
    --linkedin-color: #0077b5;
    --youtube-color: #ff0000;
    --whatsapp-color: #25d366;
    --telegram-color: #0088cc;
    --discord-color: #7289da;
    --twitch-color: #6441a5;
    /* Social Media Colors */
}
/* Root */

/* Global */
.global-body, .global-html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    cursor: url('/assets/media/images/cursor.png'), auto;
}

.global-hr {
    border: 1px solid var(--secondary-color);
}
/* Global */

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-color);
}
/* Scrollbar */

/* Selectioncoler */
::selection {
    background-color: var(--secondary-color);
    color: var(--third-color);
}
/* Selectioncoler */

/* Button */
.home-button {
    color: var(--third-color);
    background: var(--primary-color);
    border-radius: 24px;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
}

.home-button > span {
    display: inline-block;
    transform: skew(21deg);
}

.home-button::before {
    border-radius: 24px;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: var(--secondary-color);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.home-button:hover {
    color: var(--white-color);
}

.home-button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}
/* Button */

/* Context Menu */
.context-menu { 
    position: absolute;
    cursor: pointer;
    display: none;
}

.context-menu-svg {
    fill: var(--primary-color);
    padding-right: 10px;
    width: 16px;
    height: 16px;
}

.context-menu-item {
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0px;
    list-style: none;
}

.context-menu-item li {
    font: inherit;
    border: 0;
    padding: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: var(--secondary-color);
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}

.context-menu-item li:hover {
    background:var(--third-color);
    color: var(--primary-color);
    border-radius: 10px;
}

.context-menu-item li:active {
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 10px;
}

.context-menu-dark-mode {
    background-color: var(--darkmode-color);
    color: var(--white-color);
}

.context-menu-dark-mode .home-title-back, .context-menu-dark-mode .legal-guidelines-title-back, .context-menu-dark-mode .privacy-policy-title-back {
    -webkit-text-stroke: 2px var(--primary-color);
}

.context-menu-dark-mode .home-subtitle {
    color: var(--white-color);
}

.context-menu-dark-mode .home-header-container {
    color: var(--darkmode-color);
}

.context-menu-dark-mode .home-header-container .home-header-logo {
    fill: var(--darkmode-color);
}

.context-menu-dark-mode .home-header-container .home-header-company-name {
    -webkit-text-stroke: 2px var(--darkmode-color);
}

.context-menu-dark-mode .home-header-container .home-header-arrow {
    fill: var(--darkmode-color);
}

.context-menu-dark-mode .home-header-container .home-header-cursor {
    background-color: var(--darkmode-color);
}

.context-menu-dark-mode .home-about-company p, .context-menu-dark-mode .home-company-values li {
    color: var(--white-color);
}

.context-menu-dark-mode .home-services-box.hosting-services ul li {
    color: var(--white-color);
}

.context-menu-dark-mode .home-services-box.web-services p {
    color: var(--white-color);
}

.context-menu-dark-mode .home-services-box {
    box-shadow: 0 0 20px rgba(100, 100, 100, 0.4);
}

.context-menu-dark-mode .home-services-box:hover {
    box-shadow: 0 0 20px rgba(100, 100, 100, 0.4);
}

.context-menu-dark-mode .home-team-container-carousel-item p {
    color: var(--white-color);
}

.context-menu-dark-mode .home-team-container-carousel-item {
    background-color: var(--darkmode-color);
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.4);
}

.context-menu-dark-mode .home-team-container-carousel-item:hover {
    box-shadow: 0 0 20px rgba(100, 100, 100, 0.4);
}

.context-menu-dark-mode .footer-social-media-ul .footer-social-media-icon a {
    background-color: var(--darkmode-color);
    color: var(--secondary-color);
}

.context-menu-dark-mode .footer a, .context-menu-dark-mode .footer p {
    color: var(--darkmode-color);
}

.context-menu-dark-mode .legal-guidelines-article ul li, .context-menu-dark-mode .privacy-policy-article ul li, .context-menu-dark-mode .privacy-policy-article ol li, .context-menu-dark-mode .privacy-policy-article p {
    color: var(--white-color);
}
/* Context Menu */

/* Footer */
.footer {
    background-color: var(--primary-color);
    color: var(--third-color);
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.footer-social-media-ul, .footer-links, .footer-credits {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-media-ul {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
}

.footer-credits {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.footer-social-media-ul .footer-social-media-icon {
    margin: 0 10px;
    position: relative;
    list-style: none;
}

.footer-social-media-ul .footer-social-media-icon a {
    background-color: var(--white-color);
    color: var(--secondary-color);  
    width: 50px;
    height: 50px;
    border-radius: 20%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.footer-social-media-ul .footer-social-media-icon a:hover {
    box-shadow: 3px 2px 45px 0px var(--secondary-color);
}

.footer-social-media-ul .footer-social-media-icon a svg {
    fill: var(--primary-color);
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.footer-social-media-ul .footer-social-media-icon a .footer-social-media-icon-filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in-out;
}

.footer-social-media-ul .footer-social-media-icon a:hover .footer-social-media-icon-filled {
    height: 100%;
}

.footer-social-media-ul .footer-social-media-icon a[data-social="x"] .footer-social-media-icon-filled {
    background-color: var(--x-color);
}

.footer-social-media-ul .footer-social-media-icon a[data-social="instagram"] .footer-social-media-icon-filled {
    background-color: var(--instagram-color);
}

.footer-social-media-ul .footer-social-media-icon a[data-social="github"] .footer-social-media-icon-filled {
    background-color: var(--github-color);
}

.footer-social-media-ul .footer-social-media-icon a[data-social="linkedin"] .footer-social-media-icon-filled {
    background-color: var(--linkedin-color);
}
/* Footer */

/* Navigation */
.navigation {
    background-color: var(--primary-color);
    top: 0;
    right: 0;
    width: 110px;
    height: 110px;
    border-radius: 0 0 0 100px;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.navigation svg {
    fill: var(--white-color);
    margin: 0px;
    padding: 0px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.navigation svg:hover {
    transform: rotate(-90deg);
    transition: 0.5s;
}

.navigation .navigation-list {
    color: var(--white-color);
    width: 300%;
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.navigation .navigation-list ul li {
    margin: 10px;
    list-style: none;
}

.navigation .navigation-list ul li a {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 1000;
    text-decoration: none;
}

.navigation .navigation-list ul li a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.overlay {
    background-color: var(--third-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    transition: 0.5s;
}
/* Navigation */
/***************** Desktop/Mobile ****************/

/******************** Desktop ********************/
/* Title */
.home-title, .legal-guidelines-title, .privacy-policy-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}

.home-title-back, .legal-guidelines-title-back, .privacy-policy-title-back {
    color: var(--white-color);
    font-size: 144px;
    font-weight: 900;
    line-height: 1.2;
    margin: 5%;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--secondary-color);
}

.home-title-front, .legal-guidelines-title-front, .privacy-policy-title-front {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 900;
    position: absolute;
    text-transform: uppercase;
}

.home-subtitle {
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    min-height: 1.2em;
    display: inline-block;
}
/* Title */

/* Header */
.home-header-container {
    background-color: var(--primary-color);
    color: var(--third-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.home-header-container .home-header-logo {
    fill: var(--white-color);
    margin-left: 100%;
    width: 456px;
    height: 456px;
}

.home-header-container .home-header-title {
    font-size: 24px;
    font-weight: 1000;
}

.home-header-container .home-header-company-name {
    color: var(--primary-color);
    font-size: 96px;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--white-color);
    margin-top: 0px;
}

.home-header-arrow {
    position: absolute;
    bottom: 20px;
    left: 49%;
    width: 40px;
    height: 40px;
    fill: var(--white-color);
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {transform: translateY(0)}
    50% {transform: translateY(-10px)}
}

.home-header-subtitle {
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    min-height: 1.2em;
    display: inline-block;
}

.home-header-cursor {
    display: inline-block;
    width: 4px;
    height: 26px;
    background-color: var(--white-color);
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1}
    50% {opacity: 0}
}
/* Header */

/* About */
.home-about-company {
    display: flex;
    justify-content: space-between;
}

.home-company-introduction, .home-company-values {
    margin-left: 5%;
    margin-right: 5%;
    width: 48%;
}

.home-about-company h4 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}

.home-company-introduction p, .home-company-values li {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.home-company-values strong {
    color: var(--primary-color);
    font-weight: 900;
}
/* About */

/* Services */
.home-services-container {
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-services-container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-services-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    padding: 20px;
    margin: 30px;
    width: 500px;
}

.home-services-box.hosting-services {
    height: 310px;
}

.home-services-box.web-services {
    min-height: 220px;
}

.home-services-box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: 1s;
}

.home-services-box-title {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 1000;
    display: flex;
    align-items: center;
}

.home-services-circle {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 64px;
    height: 64px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.home-services-svg {
    fill: var(--white-color);
    width: 64px;
    height: 64px;
    margin: 10px;
}

.home-services-box.hosting-services ul {
    list-style: none;
    padding: 0;
}

.home-services-box.hosting-services ul li {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
}

.home-services-box.web-services p {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
}
/* Services */

/* Team */
.home-team-container {
    margin-top: 0px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-team-container-carousel {
    justify-content: space-between;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.home-team-container-carousel-item {
    background-color: var(--third-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    margin: 20px;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    transition: visibility 0s, opacity 0.5s linear, transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center center;
    pointer-events: none;
}

.home-team-container-carousel-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: 1s;
}

.home-team-container-carousel-item-active {
    visibility: visible;
    opacity: 1;
    height: auto;
    width: 300px;
    position: static;
    left: auto;
    transform: scale(1);
    left: 0;
    top: 0;
    pointer-events: auto;
}

.home-team-container-carousel-item img {
    border-radius: 10%;
    margin-bottom: 20px;
    width: 300px;
}

.home-team-container-carousel-item h4 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
}

.home-team-container-carousel-item p {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.home-team-container-carousel-item svg {
    fill: var(--primary-color);
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.home-team-container-carousel-item svg:hover {
    transform: scale(1.2);
}
/* Team */

/* Legal Guidelines */
.legal-guidelines-article {
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.legal-guidelines-article h2 {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.legal-guidelines-article h3 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}

.legal-guidelines-article ul {
    list-style: none;
    padding: 0;
}

.legal-guidelines-article ul li {
    color: var(--secondary-color);
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}

.legal-guidelines-article a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.legal-guidelines-article a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}
/* Legal Guidelines */

/* Privacy Policy */
.privacy-policy-article {
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.privacy-policy-article h2 {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.privacy-policy-article h3 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}

.privacy-policy-article ul {
    list-style: none;
    padding: 0;
}

.privacy-policy-article ol {
    list-style: decimal;
    padding: 0;
}

.privacy-policy-article ul li, .privacy-policy-article ol li {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}

.privacy-policy-article ul li {
    margin-left: 20px;
}

.privacy-policy-article ol li {
    margin-left: 40px;
}

.privacy-policy-article a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.privacy-policy-article a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.privacy-policy-article p {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}
/* Privacy Policy */

/* Http Code */
.httpcode-html {
    background: linear-gradient(45deg, var(--primary-color) 0%, var(--third-color) 100%);
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.httpcode-policeman-cls-1{
    fill:var(--primary-color);
}

.httpcode-policeman-cls-2{
    fill:#e6a964;
}

.httpcode-policeman-cls-3{
    fill:#fcc082;
}

.httpcode-policeman-cls-4{
    fill:var(--white-color);
}

#httpcode-policeman{
    width: 350px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    overflow: visible;
    position: absolute;
}

@media only screen and (max-width : 720px){
    #httpcode-policeman{
        max-height: 50%;
    }
}
/* Http Code */
/* 403 Page Access Denied */
/******************** Desktop ********************/

/******************** Mobile *********************/
@media (max-width: 768px) {
    /* Navigation */
    .navigation {
        display: none;
    }
    /* Navigation */
    /* Title */
    .home-title-back {
        font-size: 84px;
        font-weight: 900;
        line-height: 1.2;
    }

    .legal-guidelines-title-back, .privacy-policy-title-back {
        font-size: 42px;
        font-weight: 900;
        line-height: 1.2;
    }

    .home-title-front {
        font-size: 36px;
        font-weight: 900;
    }

    .legal-guidelines-title-front, .privacy-policy-title-front {
        font-size: 18px;
        font-weight: 900;
    }
    /* Title */

    /* Header */
    .home-header-container {
        flex-direction: column;
        justify-content: center;
    }

    .home-header-container .home-header-logo {
        margin: 0;
        width: 300px;
        height: 300px;
    }

    .home-header-container .home-header-title {
        margin: 10px;
    }
    /* Header */

    /* About */
    .home-about-company {
        flex-direction: column;
    }

    .home-company-introduction, .home-company-values {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    /* About */

    /* Services */
    .home-services-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .home-services-box {
        width: 300px;
    }

    .home-services-box-title {
        font-size: 22px;
    }
    /* Services */
}
/******************** Mobile *********************/