############################
# @author EliasDH Team     #
# @see https://eliasdh.com #
# @since 01/01/2025        #
############################
name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  IMAGE_TAG: ${{ github.sha }}

jobs:
   build-push-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: Install dependencies
        run: |
            cd ./App/Frontend
            npm install
      - name: Build Angular Application
        run: |
          cd ./App/Frontend
            npm run build -- --project Frontend --configuration production
      - name: Login to GHCR
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u eliasdehondt --password-stdin
      - name: Build/Push Frontend Docker Image
        run: |
          docker build --push -t ghcr.io/eliasdhcom/eliasdhcom-frontend:${{ env.IMAGE_TAG }} ./App/Frontend
      - name: Build/Push Backend Docker Image
        run: |
            docker build --push -t ghcr.io/eliasdhcom/eliasdhcom-backend:${{ env.IMAGE_TAG }} ./App/Backend
      - name: Build/Push AI Docker Image
        run: |
          docker build --push -t ghcr.io/eliasdhcom/eliasdhcom-ai-service:${{ env.IMAGE_TAG }} ./App/Service/AI